body {

}
        .auto-style1 {
            height: 39px;
        }
        #TextAreahenv {
            width: 596px;
            height: 70px;
        }
        .auto-style2 {
            height: 39px;
            width: 150px;
        }
        .auto-style3 {
            width: 150px;
        }
  