<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>dotnet.iu.hio.no</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/s169537/NettbutikkFAQ</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>s169537</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NettbutikkFAQ.FaqsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NettbutikkFAQ.FaqsContext, NettbutikkFAQ" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NettbutikkFAQ.MailspørsmålContext" Order="2" Enabled="False">
          <Destination Path="Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NettbutikkFAQ.MailspørsmålContext, NettbutikkFAQ" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Mailspørsmål" Order="3" Enabled="False">
          <Destination Path="Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Mobaton.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Mailspørsmål_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename='|DataDirectory|Mobaton.mdf';Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FAQspørsmål" Order="4" Enabled="False">
          <Destination Path="Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Mobaton.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FAQspørsmål_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename='|DataDirectory|Mobaton.mdf';Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FAQspørsmål-Web.config Connection String">
      <ParameterValue>Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mailspørsmål-Web.config Connection String">
      <ParameterValue>Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NettbutikkFAQ.FaqsContext-Web.config Connection String">
      <ParameterValue>Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NettbutikkFAQ.MailspørsmålContext-Web.config Connection String">
      <ParameterValue>Data Source=dotnet.cs.hioa.no;User ID=s169537;Password=bukl9swap</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NettbutikkFAQ.FaqsContext" />
    <_ConnectionStringsToInsert Include="NettbutikkFAQ.MailspørsmålContext" />
  </ItemGroup>
</Project>